.gradient-text{
    font-family:system-ui;
    font-weight: 700;
    font-size: 30px;
    background: linear-gradient(0deg, #ffff, rgb(25, 25, 25));
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: GradientChange 5s ease infinite;
  }
  
  @keyframes GradientChange {
      0%{background-position:0% 13%}
      50%{background-position:100% 88%}
      100%{background-position:0% 13%}
  }
  
