
@media screen and (max-width: 1280px){
    .grilla {
        max-width:50% !important;
        grid-template-columns: repeat(2, 1fr)!important;
        max-width: fit-content!important; 
    }
    }
    
@media screen and (max-width: 800px){
        .grilla {
            grid-template-columns: repeat(2, 1fr)!important;
             
        }
        }
 @media screen and (max-width: 680px){
        .grilla {

            grid-template-columns: repeat(1, 1fr) !important;
        }
        
        }